/* recommended css code for vue-svgicon */
.svg-icon {
    display: block;
    color: inherit;
    vertical-align: middle;
    user-select: none;
    fill: none;
}

.svg-fill {
    stroke: none;
}

.svg-up {
    /* default */
    transform: rotate(0deg);
}

.svg-right {
    transform: rotate(90deg);
}

.svg-down {
    transform: rotate(180deg);
}

.svg-left {
    transform: rotate(-90deg);
}